body{
	background-color:#fff;
	margin: 0;
	padding:0;
	min-width:1240px;
}

#concept_holder{
	margin:0;
	padding:0;
	width:100%;
	height:1186px;
	background-image: url("../images/homepage-05.png");
	background-repeat: no-repeat;
	background-position: center top;
}